body {
    background-color: whitesmoke;
    padding: 40px;
    text-align: center;
}

#apple-shelf {
    margin: 10px 0;
    height: 30px;
    background-color: lightcoral;
    border-radius: 10px;
}

#orange-shelf {
    height: 30px;
    background-color: lightsalmon;
    border-radius: 10px;
}